extends base

block main
  .row.mt-2
    .col-sm-12
      .h3 User
  .row
    // form to edit the user's profile
    .col-sm-6
      .card
        .card-header
          strong Profile&nbsp;
          small.text-muted Form
        .card-block
          form(action='/admin/users/' + user.id + '/profile', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label(for='email') Email address
              input.form-control(name='email', type='email', placeholder='User\'s email', value=user.email)
            .form-group
              label(for='name') Name
              input.form-control(name='name', placeholder='User\'s name', value=user.profile.name)
            button.btn.btn-primary(type='submit') Save Profile

    // form to change the user's password
    .col-sm-6
      .card
        .card-header
          strong Password&nbsp;
          small.text-muted Form
        .card-block
          form(action='/admin/users/' + user.id + '/password', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label(for='password') Reset Password
              input.form-control(name='password', type='text', placeholder='New password')
            button.btn.btn-primary(type='submit') Save Password

  .row.mb-4
    .col-sm-12
      .h3 Services
      // list the services
      .list-group
        each service in user.services
          .list-group-item.list-group-item-action
            .row
              .col-sm-3
                a(href=service.url) #{service.name}
              .col-sm-3
                span #{service.user}
              .col-sm-4
                span #{service.decryptPassword()}
              .col-sm-2.text-right
                if service.active
                  span.badge.badge-success.mr-4 active
                else
                  span.badge.badge-danger.mr-4 inactive
                a.btn.btn-primary.btn-sm(href='/admin/users/' + user.id + '/services/' + service.id, role='button') Edit
