extends base

block main
  .row.mt-4
    .col-sm-6
      .card
        .card-header
          strong Signin&nbsp;
          small.text-muted Info
        .card-block
          form(action='/admin/users/' + user.id + '/services/' + service.id, method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label(for='user') User
              input.form-control(name='user', type='text', placeholder='User name', value=service.user)
            .form-group
              label(for='password') Password
              input.form-control(name='password', placeholder='User\'s name', value=service.decryptPassword())
            button.btn.btn-primary(type='submit') Save Access Data
    .col-sm-6
      .card
        .card-header
          strong Add&nbsp;
          small.text-muted Invoice
        .card-block
          form(role='form', enctype='multipart/form-data', method='POST', action='/admin/users/' + user.id + '/services/' + service.id + '/invoices')
            .form-group
              label(for='date') Date
              input.form-control(name='date', type='text', placeholder='YYYY-MM-DD', required)
            .form-group
              label(for='amount') Amount
              input.form-control(name='amount', type='text', placeholder='Total', required)
            .form-group
              label(for='currency') Currency
              input.form-control(name='currency', type='text', placeholder='£')
            .form-group
              label(for='invoice') File (pdf)
              input.form-control(name='invoice', type='file', required)
            button.btn.btn-primary(type='submit') Save invoice

  if service.invoices.length > 0
    .row
      .col-sm-12
        .list-group
          .list-group-item.active
            .row
              .col-sm-3 Date Created
              .col-sm-3 Date
              .col-sm-2 Amount
              .col-sm-4 Link
          each invoice in service.invoices
            .list-group-item.list-group-item-action
              .row
                .col-sm-3
                  span #{invoice.createdAt}
                .col-sm-3
                  span #{invoice.date}
                .col-sm-2
                  span #{invoice.currency}#{invoice.amount}
                .col-sm-4
                  a(href=`/${invoice.file.filename}`, target='invoice') See
