extends base

block main
  .row.mt-4.mb-4
    // form to edit the user's profile
    .col-sm-6
      .card
        .card-header
          strong User&nbsp;
          small.text-muted Form
        .card-block
          form(action='/admin/users/' + user.id + '/profile', method='POST').mb-4
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label(for='email') Email address
              input.form-control(name='email', type='email', placeholder='User\'s email', value=user.email)
            .form-group
              label(for='name') Name
              input.form-control(name='name', placeholder='User\'s name', value=user.profile.name)
            .text-right
              button.btn.btn-primary(type='submit') Save Profile
          form(action='/admin/users/' + user.id + '/password', method='POST').mb-4
            input(type='hidden', name='_csrf', value=_csrf)
            .form-row.align-items-center
              .col-sm-8
                label.sr-only(for='password') Reset Password
                input.form-control.mb-2.mb-sm-0(name='password', type='text', placeholder='New password')
              .col-auto.ml-auto
                button.btn.btn-primary(type='submit') Save Password
          form.mt-4(action='/admin/users/' + user.id + '/admin', method='POST').mb-4
            input(type='hidden', name='_csrf', value=_csrf)
            label Admin powers
            .form-row.align-items-center
              .col-auto
                .form-check.form-check-inline
                  label.form-check-label(for='admin')
                    input.form-check-input(type='radio', name='admin', value='true', checked=user.admin)
                    | Yes
                .form-check.form-check-inline
                  label.form-check-label(for='admin')
                    input.form-check-input(type='radio', name='admin', value='false', checked=!user.admin)
                    | No
                small.form-text.text-muted "With great power comes great responsibility" Uncle Ben.
              .col-auto.ml-auto
                button.btn.btn-primary(type='submit') Make Admin

    // form to change the user's password
    .col-sm-6
      .card
        .card-header
          strong Add&nbsp;
          small.text-muted Service
        .card-block
          form(action='/admin/users/' + user.id + '/services', method='POST').mb-4
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='userid', value=user.id)
            .form-group
              label(for='service') Service
              select.form-control(name='service')
                option(selected, disabled) Select a service
                each service in services
                  option(value=service.id)= service.name
            .form-group
              label(for='username') Username
              input.form-control(name='username', type='text', placeholder='Username')
            .form-group
              label(for='password') Password
              input.form-control(name='password', type='text', placeholder='Password')
            .text-right
              button.btn.btn-primary(type='submit') Add Service
  if user.services.length > 0
    .row.mb-4
      .col-sm-12
        .list-group
          .list-group-item.active
            .row
              .col-sm-3 Name
              .col-sm-3 User
              .col-sm-4 Password
              .col-sm-1 Status
              .col-sm-1
          each service in user.services
            .list-group-item.list-group-item-action
              .row
                .col-sm-3
                  a(href=service.url) #{service.name}
                .col-sm-3
                  span #{service.user}
                .col-sm-4
                  span #{service.decryptPassword()}
                .col-sm-1
                  if service.active
                    span.badge.badge-success.mr-4 active
                  else
                    span.badge.badge-danger.mr-4 inactive
                .col-sm-1.text-right
                  a.btn.btn-secondary.btn-sm(href='/admin/users/' + user.id + '/services/' + service.id, role='button') Edit
