extends ../base

block content
  section#profile.section
    .container
      .row.justify-content-center
        .col-lg-6
          .title.text-center
            h2
              | Profile&nbsp
              b Information
            span.title-border
              i.mdi.mdi-set-none
      .custom-form.mt-4.pt-4
        #message
        form#profile-form(action='/account/profile', method='post', name='profile-form')
          input(type='hidden', name='_csrf', value=_csrf)
          .row.justify-content-center
            .col-lg-4
              include ../partials/flash
          .row
            .col-md-4.offset-md-4
              .form-group
                label(for='email') Email address
                input#email.form-control(name='email', type='email', placeholder='Your email...', value=user.email)
          .row
            .col-md-4.offset-md-4
              .form-group
                label(for='name') Name
                input#name.form-control(name='name', type='text', placeholder='Your name...', value=user.profile.name)
          .row
            .col-md-4.offset-md-4
              button#submit.submitBnt.btn.btn-primary.btn-custom.btn-block(type='submit') Update Profile
              #simple-msg

      .row.justify-content-center.mt-4.pt-4
        .col-lg-6
          .title.text-center
            h2
              | Change&nbsp
              b Password
            span.title-border
              i.mdi.mdi-set-none
      .custom-form.mt-4.pt-4
        #message
        form#password-form(action='/account/password', method='post', name='profile-form')
          input(type='hidden', name='_csrf', value=_csrf)
          .row.justify-content-center
            .col-lg-4
              include ../partials/flash
          .row
            .col-md-4.offset-md-4
              .form-group
                label(for='password') New Password
                input#password.form-control(name='password', type='password', placeholder='New password...', autofocus, required)
          .row
            .col-md-4.offset-md-4
              .form-group
                label(for='confirmPassword') Confirm Password
                input#confirmPassword.form-control(name='confirmPassword', type='password', placeholder='Confirm password...', required)
          .row
            .col-md-4.offset-md-4
              button#submit.submitBnt.btn.btn-secondary.btn-block(type='submit') Change Password

      .row.justify-content-center.mt-4.pt-4
        .col-lg-6
          .title.text-center
            h2
              | Delete&nbsp
              b Account
            span.title-border
              i.mdi.mdi-set-none
      .custom-form.mt-4.pt-4
        #message
        form#delete-form(action='/account/delete', method='post', name='profile-form')
          input(type='hidden', name='_csrf', value=_csrf)
          .row
            .col-md-4.offset-md-4
              p You can delete your account, but keep in mind this action is irreversible.
              button#submit.submitBnt.btn.btn-danger.btn-block(type='submit') Delete my account
